@charset 'utf-8';

#app {
  @include size(100%);
}

.child-view {
  @include size(32rem * 1.6, 32rem);
  @include absolute(top 50% left 50%);
  margin: auto;
  font-size: resp-size(20px);
  transform: translate(-50%, -50%);
  background: radial-gradient(#032759, #020c27 90%);
  color: #dddfe2;
  transition: opacity .5s ease;
}

.fade-enter-active,
.fade-leave {
  opacity: 1;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
