@charset 'utf-8';

.child-view {
  @include size(32rem * 1.6, 32rem);
  @include relative(top 50%);
  margin: auto;
  transform: translateY(-50%);
  background: radial-gradient(#032759, #020c27 90%);
  transition: opacity .5s ease;
}

.fade-enter-active,
.fade-leave {
  opacity: 1;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
