@charset "utf-8";

@for $h from 1 through 6 {
  h#{$h} {
    margin: 0;
  }
}

.logo {
  height: resp-size(85px);
}

.tip-text {
  color: #fff;
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Dash 样式定义 */
.dash {
  display: flex;
  flex-direction: column;

  h1 {
    background: linear-gradient(to right, transparent 5%, $dash-title-bg 50%, transparent);
    font-size: resp-size(22px);
    line-height: 2.3;
    color: $dash-title-color;
    text-align: center;
  }
}

.board {
  margin-top: resp-size(5px);
  background: $dash-board-bg;
  height: 100%;
  position: relative;
}

.trans-count {
  font-size: resp-size(18px);
  padding: resp-size(25px) resp-size(50px) 0;

  > span:last-child {
    float: right;
    color: #00aee1;
  }

  > .total {
    color: #00aee1;
  }

  & + & {
    padding-top: 10px;
  }
}

.charts {
  @include absolute(top 0 right 0 bottom 0 left 0);
}

.triangle {
  display: block;
  position: absolute;
  top: -12px;
  width: 20px;
  height: 12px;
  box-sizing: border-box;
  background: linear-gradient(to top right, rgb(10, 48, 86) 48%, #31b7d4 0, #31b7d4 53%, transparent 0);
  border-left: 1px solid #31b7d4;
}
