@charset "utf-8";

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: radial-gradient(circle, #002d5a, #03152c);
}

#mapChart {
  @include absolute(top 0 right 0 bottom 0 left 0);
}

.dash-group {
  @include absolute(top 5% right 5% bottom 5% left 66%);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.dashboard {
  width: 100%;
  height: 24%;

  h1 {
    color:#01c7ff;
    font-size: 1em;
    text-align: center;
    background: linear-gradient(to right, transparent, #02506e 50%, transparent);
    line-height: 2.6;
  }

  article {
    margin-top: 3px;
    height: calc(100% - 2.6em);
  }
}

.dashboard-left {
  width: auto;
  height: auto;
  @include absolute(left 5% bottom 5% right 66%);
}


.logo {
  @include absolute(top 5% left 5%);
}

.traffic-info {
  @include absolute(top 15% left 10%);

  h1 {
    display: inline-block;
    border-radius: 0.2em;
    background: #00a7ff;
    font-size: 120%;
    line-height: 2;
    padding: 0 2em;
  }

  h2 {
    color: #01c5fd;
    font-size: 1em;
  }
}

.traffic-count {
  margin: 1em 0;

  span + span {
    margin-left: 0.1em;
  }
}

.numItem {
  display: inline-block;
  font-size: 3em;
  background: #00b6ca;
  font-family: monospace;
  color: #fff;
  padding: 0 0.1em;
  border-radius: 0.1em;
}

.split {
  display: inline-block;
  font-family: sans-serif;
  font-size: 2em;
  color: #01657d;
}

#dash5 {
  background: rgba(1,42,71,0.8);
  padding: 0.5em;
}

.deal-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    color: #00b3e7;
    font-weight: bold;
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid currentcolor;
  }

  td {
    color: #fff;
    padding: 0.5em;
    font-size: 0.8em;
  }
}

.list-item {
  transition: all .5s;
}

.list-row-enter-active {
  background: #fff;

  td {
    color: rgba(1,42,71,0.8);
  }
}

.list-row-enter {
  background: rgba(1,42,71,0.8);

  td {
    color: #fff;
  }
}

.list-row-leave-active {
  display: none;
}
