@charset "utf-8";

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  font-size: $viewport;
  line-height: 1.2;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;
  font-family: 'Microsoft YaHei', sans-serif;
}

img {
  display: block;
}
