@charset "utf-8";

@for $h from 1 through 6 {
  h#{$h} {
    margin: 0;
  }
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Dash 样式定义 */
.dash {
  display: flex;
  flex-direction: column;

  h1 {
    background: linear-gradient(to right, transparent 5%, $dash-title-bg 50%, transparent);
    font-size: resp-size(22px);
    line-height: 2.3;
    color: $dash-title-color;
    text-align: center;
  }
}

.board {
  margin-top: resp-size(5px);
  background: $dash-board-bg;
  height: 100%;
}
