@charset 'utf-8';

.site-9156 {
  .logo-zone {
    @include absolute(top resp-size(50px) left resp-size(80px));
    z-index: z('9156logo');
  }

  .map-zone {
    @include absolute(top 0 bottom 0 left 0 right resp-size(680px));
    z-index: z('9156map');
  }

  .count-zone {
    @include absolute(top resp-size(190px) left resp-size(130px));
    z-index: z('9156count');
  }

  .dash-group {
    @include absolute(top resp-size(50px) bottom resp-size(50px) right resp-size(32px));
    width: resp-size(646px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .dash {
    @include size(100%, 23%);
  }

  .dash-bargain {
    @include absolute(left resp-size(127px) bottom resp-size(46px));

    width: resp-size(646px);
    z-index: z('9156dash');
  }

  .stamp-pos {
    @include absolute(bottom resp-size(46px) left 50%);

    transition: translateX(-50%);
    z-index: z('9156time');
  }
}
