@charset "utf-8";

$bottom-gap: 50px !default;

$z-layers:(
  '9156map': 10,
  '9156logo': 20,
  '9156count': 20,
  '9156dash': 30,
  '9156group': 30,
  '9156time': 40,
  'default': 1
);

$viewport-size: (
  'sm': 20,
  'md': 30,
  'lg': 40
);


$dash-board-bg: #024;
$dash-title-bg: #024967;
$dash-title-color: #00c7ff;

$viewport: map-get($viewport-size, 'lg') * 1px;
