@charset "utf-8";

$bottom-gap: 50px !default;

$z-layers:(
  'userbar': 20,
  'navbar': 20,
  'footer': 20,
  'default': 1
);

$viewport-size: (
  'sm': 20,
  'md': 30,
  'lg': 40
);


$dash-board-bg: #024;
$dash-title-bg: #024967;
$dash-title-color: #00c7ff;

$viewport: map-get($viewport-size, 'md') * 1px;
